body{
  background-color: black;
}
h2{
  color:rgb(88, 88, 240);
}

.logo{
  width:200px;
  height:100px;
}
.container{
  display: flex;
  flex-direction: row;

}
.li-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  color: white;
}
li{
  color: #ffffff;
}
.image {
  height: 350px;
  width: 250px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.App {
  text-align: center;
}
button{
  height: 20px;
  border: none; 
}
button {
  display: none;
}

img:hover + button, button:hover {
  display: inline-block;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
